<!DOCTYPE html>
<html lang="en">

<head>
    <title>Jay Place!</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap"
        rel="stylesheet">
    <link href="public/styleSheets/app.css" type=”text/css” rel="stylesheet">
</head>

<body>

    <!-- NAVBAR SECTION -->

    <nav class='navbar'>
        <ul class="menu">
            <li class="logo"><a href="github.com/jaycoble">JC</a></li>
            <li class="item"><a href="#">Resume</a></li>
            <li class="item has-submenu">
                <a tabindex="0">Portfolio<span class="chevron bottom"></span></a>
                <ul class="submenu">
                    <li class="subitem"><a href="#">YelpCamp</a></li>
                    <li class="subitem"><a href="#">Project 2</a></li>
                    <li class="subitem"><a href="#">Project 3</a></li>
                    <li class="subitem"><a href="#">Project 4</a></li>
                </ul>
            </li>
            <li class="item"><a href="#contact">Contact Me</a>
            </li>
            <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
        </ul>
    </nav>

    <!-- WELCOME SECTION -->

    <div id='welcome-section'>
        <h1 id='welcome-title'>test Jay Coble</h1>
        <p class='center'>Web developer and project manager with experiance working on a large variety of projects
            ranging from e-commerce platfrom implementations to healthcare consoluting. My current projects can be
            fround on my <a id='profile-link' href='https://github.com/jaycoble'>GitHub</a>, please do not hesitate to
            <a href='#contact'>reach out</a> if you have any questions
        </p>
    </div>
    <!-- START RESUME SECTION -->

    <section id="projects" class="projects-section">
        <h2 class="projects-section-header"></h2>
        <div class="">
            <div class="ß">
                <div class='resume'>
                    <h2>Resume</h2>
                    <div>
                        <h2>Web Development</h2>
                        <div><b>Web Developer Bootcamp 2021, Udemy</b>, Remote/New York, NY, Taught by Colt Steele via
                            Udemy(www.udemy.com/user/coltsteele/): 2021</div>
                        <ul>
                            <li>Created a Yelp-like CRUD website that incorporates Javascript and several other
                                programming languages, libraries, data associations, and frameworks</li>
                            <li>Other projects included a blog application using Node, Express, and MongoDB; complex
                                HTML forms with validations; responsive navbars on websites; and single page
                                applications with AJAX
                            </li>
                            <h2>Work Experiance</h2>
                            <div><b>COPE Health Solutions</b>, New York, NY, Project Manager & Assistant Product Manager
                                for ARC
                                (Analytics for Risk Contracting) : 2019 - 2020</div>
                            <ul>
                                <li>Guided implementations of COPE’s primary cloud-based solution, Analytics for Risk
                                    Contracting
                                    (ARC),
                                    for clients representing over two million lives
                                </li>
                                <li>Helped to grow the number of lives on the ARC Platform from 800k to over 2 million
                                    while working
                                    with engineering and leadership teams to plan and develop scalable solutions for ARC
                                </li>
                            </ul>
                            <div><b>Interfolio</b>, Washington, DC, Project Manager: 2018 - 20219</div>
                            <ul>
                                <li>GLed implementations of all four Interfolio software products for up to twenty
                                    concurrent institutions with several thousand users
                                </li>
                                <li>Planned and conducted virtual and in-person training for hundreds of users
                                </li>
                                <li>
                                    Created presentations, workshop materials, and project closeout documents for more
                                    than fifty clients
                                </li>
                                <li>
                                    Built implementation resources, such as project planning and tracking tools, used by
                                    nearly one hundred people within the Interfolio organization
                                </li>
                            </ul>
                            <div><b>Interfolio</b>, Washington, DC, Project Manager: 2018 - 2019</div>
                            <ul>
                                <li>Led implementations of all four Interfolio software products for up to twenty
                                    concurrent institutions with several thousand users
                                    Planned and conducted virtual and in-person training for hundreds of users
                                </li>
                                <li>Created presentations, workshop materials, and project closeout documents for more
                                    than fifty clients
                                    hundred people within the Interfolio organization
                                </li>
                                <li>
                                    Built implementation resources, such as project planning and tracking tools, used by
                                    nearly one hundred people within the Interfolio organization
                                </li>
                            </ul>
                    </div>
                    <div class="row">
                        <div class="column">
                            <h2>Education</h2>
                            <p>
                            <h3><b>Wake Forest University</b>, Winston-Salem, North Carolina: May 2013
                            </h3>
                            <ul>
                                <li>Bachelor of Science in Health and Exercise Science
                                </li>
                                <li>Minors in Entrepreneurship, Politics and International Affairs, and Biology
                                </li>
                                <li>Summer Management Program
                                </li>
                            </ul>
                            </p>
                            <p>
                            <h3>The Web Developer Bootcamp</h3>
                            </p>
                            <p>
                            <h3>Free Code Camp</h3>
                            </p>
                        </div>
                        <div class="column">
                            <h2>Skills and Abilities</h2>
                            <h3>Business Software</h3>
                            <h3>Project Management Software</h3>
                            <h3>Web Development</h3>
                            <h3>Misc.</h3>
                        </div>
                        <div class="column">
                            <h2>Awards & Certification</h2>
                            <p><b> Management Professional (PMP)</b>, Project Management Institute - 2018
                            </p>
                            <p><b> Wake Forest University Excellence in Entrepreneurship Award</b>, Wake Forest
                                University -
                                2013
                            </p>
                            <p><b> Eagle Scout Award</b>, Boy Scouts of America - 2007
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <a href="https://github.com/jaycoble" class="btn btn-show-all" target="_blank">LinkedIn</a>
    </section>

    <!-- START PROJECTS SECTION -->

    <section id="projects" class="projects-section">
        <h2 class="projects-section-header"></h2>
        <div class="projects-grid">
            <h2>Project Portfolio</h2>
            <a href="" target="_blank" class="project project-tile">
                <img class="project-image" src="" alt="YelpCamp" />
                <p class="project-title">
                    <span class="code">&lt;</span>
                    YelpCamp
                    <span class="code">&#47;&gt;</span>
                </p>
            </a>
            <a href="" target="_blank" class="project project-tile">
                <img class="project-image" src="" alt="project" />
                <p class="project-title">
                    <span class="code">&lt;</span>
                    Random Quote Machine
                    <span class="code">&#47;&gt;</span>
                </p>
            </a>
            <a href="" target="_blank" class="project project-tile">
                <img class="project-image" src="" alt="project" />
                <p class="project-title">
                    <span class="code">&lt;</span>
                    JavaScript Calculator
                    <span class="code">&#47;&gt;</span>
                </p>
            </a>
            <a href="" target="_blank" class="project project-tile">
                <img class="project-image" src="" alt="project" />
                <p class="project-title">
                    <span class="code">&lt;</span>
                    Map Data Across the Globe
                    <span class="code">&#47;&gt;</span>
                </p>
            </a>
            <a href="" target="_blank" class="project project-tile">
                <img class="project-image" src="" alt="project" />
                <p class="project-title">
                    <span class="code">&lt;</span>
                    Wikipedia Viewer
                    <span class="code">&#47;&gt;</span>
                </p>
            </a>
            <!--     <a
  href=""
  target="_blank"
  class="project project-tile"
>
  <img
    class="project-image"
    src=""
    alt="project"
  />
  <p class="project-title">
    <span class="code">&lt;</span>
    Tic Tac Toe Game
    <span class="code">&#47;&gt;</span>
  </p>
</a> -->
        </div>

        <a href="https://github.com/jaycoble" class="btn btn-show-all" target="_blank">All Projects</a>
    </section>

    <!-- END PROJECTS SECTION -->

    <!-- START FOOTER SECTION -->

    <footer>
        <p>

        </p>
    </footer>

    <!-- END FOOTER SECTION -->


</body>

</html>